@import 'bourbon';

$orange: #fe4902;
$white: #fff;
$header-text-color: #404040;
$text-color: #666;
$line-color: #eee;
$footer-color: #ddd;

::selection {
  background: $orange;
  color: $white;
  text-shadow: none;
}
::-moz-selection {
  background: $orange;
  color: $white;
  text-shadow: none;
}

body {
  color: $text-color;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 19px;
  letter-spacing: .3px;
  line-height: 1.25em;
}

body,
html {
  height: 100%;
}

a {
  color: $orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

p {
  line-height: 1.7em;
  margin: 0 0 10px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 7px 0;
  }
}

#container {
  border-left: 1px solid $line-color;
  border-right: 1px solid $line-color;
  margin: 20px auto;
  max-width: 650px;
  min-height: 90%;
  padding: 20px 40px;
  position: relative;
}

header {
  color: $header-text-color;
  cursor: default;
  padding: 0 0 20px;
  text-align: center;

  h1 {
    border-bottom: 1px solid $line-color;
    color: $orange;
    display: inline-block;
    font-size: 65px;
    letter-spacing: -2px;
    line-height: 65px;
    padding: 0 0 15px;
    margin: 0 0 15px;
  }

  h2 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 35px;
    margin: 0;
  }
}

#main {
  animation: fadein 1s;
  padding: 20px 0;

  p {
    text-align: justify;
  }
}

section {
  padding: 0 0 20px 0;
}

footer {
  bottom: 20px;
  color: $footer-color;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 40px 0 0;
  position: absolute;
  right: 40px;
  text-align: right;
}

.projects li {
  list-style: none;
  margin: 0 0 25px;

  h3 {
    margin: 0 0 5px 0;
  }

  .screenshot {
    display: inline-block;
    margin: 15px 20px 0 0;
    text-align: center;
    vertical-align: top;
    width: 260px;

    p {
      color: #808080;
      font-size: 13px;
      font-style: italic;
      line-height: 17px;
      padding: 10px 0 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    box-shadow: gray 3px 3px 10px;
    width: 260px;
  }
}

