{% extends "base.html" %}

{% block title %}porfolio{% endblock %}

{% block content %}

        <div class="portfolio">

            <h2>portfolio</h2>
            <p>Listed are publicly accessible web projects that in which I've had a considerable part in developing. I've also been involved in a number of sites that are now either offline or confidential.</p>

            <h3>2012-2013</h3>
            <p>
            <strong><a href="http://www.wittlebee.com">Wittlebee</a></strong><br/>
            <em>Front End Development</em><br/>
            Developed front end code and architecture from the ground up. Modular code design with Compass/SASS and JavaScript/jQuery. Iterated features include style profile, gifting, one-off sales, customer box customization, and internal product picking with usage of AJAX and JSON API interfacing.<br/>
            </p>

            <h3>2011</h3>
            <p>
            <strong><a href="http://ff0000.com/work/view/scandalous-dirt/">Scandalous Dirt</a></strong><br/>
            <em>Front End Development</em><br/>
            Worked with an art/creative director, UX director, and back end developer on this BOSS TV show tie-in website at RED Interactive Agency.<br/>
            <p>
            <strong><a href="http://ff0000.com/work/view/hbo-connect/">HBO Connect</a></strong><br/>
            <em>Front End Development</em><br/>
            Worked with designers, back end developers, and project/account managers to develop the Webby award winning site at RED Interactive Agency. Progressive front end development with heavy JavaScript interaction around an API from the Django back end.<br/>
            </p>
            <p>
            <strong><a href="http://www.econ.ucla.edu">UCLA Department of Economics</a></strong><br/>
            <em>Design, Front End Development, Back End Development (ColdFusion)</em><br/>
            Worked with staff and faculty to design and develop a fresh and clean new interface. Replaced all front end code with progressive HTML5/CSS3 over existing and modified CF back-end.<br/>
            </p>

            <h3>2009-2011</h3>
            <p>
            <strong><a href="http://www.kevinsbbqjoints.com">Kevin's BBQ Joints</a></strong><br/>
            <em>Front End Development, Back End Development (Django/Python), and server administration</em><br/>
            Worked with Kevin and a designer to develop the site from the ground up. Developed both front and back end code under Django, MySQL, and Linux server setup and administration (Debian, nginx, gunicorn).<br/>
            </p>

        </div>

{% endblock %}
