{% extends "base.html" %}

    {% block title %}contact{% endblock %}

	{% block content %}	

    <div id="contact">
        
        <p>hi! feel free to send me any comments, suggestions, or even if you'd just like to say hello. :)<br/>
            however, if you are a recruiter or person trying to advertise through this contact page, don't even try as i'll promptly delete your message.</p> 

        <form action="/contact/" method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="error">
                Errors:
                {% for error in form.errors %}
                    {{ error|escape }}
                {% endfor %}
            </div>
            {% endif %}
            <div class="row">
                <label for="name">Name</label>
                <input id="id_name" type="text" class="required" name="name" maxlength="100" />
            </div>
            <div class="row">
                <label for="email">E-mail</label>
                <input id="id_email" type="text" class="required" name="email" maxlength="200" />
            </div>
            <div class="row">
                <label for="message">Message</label>
                <textarea id="id_body" rows="10" cols="40" name="body" class="required"></textarea>
            </div>
            
            <div class="row">
                <input type="submit" value="Submit" />
            </div>
        </form>

    </div>

	{% endblock %}