{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}
		    <div class="archives">
		        <h3>archives</h3>
		        <ul>
		        {% for archive in archives %}
		            <li><a href="/blog/{{ archive|date:"Y" }}/{{ archive|date:"m" }}/">{{ archive|date:"b" }} {{ archive|date:"Y" }}</a></li>
		        {% endfor %}
		        </ul>

                <span class="feed">
                    <a href="/blog/feed">RSS Feed</a>
                </span>

		    </div>
            <div class="entry">
                <h2>{{ entry.title }}</h2>
                <div class="date">{{ entry.published|date:"b d Y" }}</div>
                <div class="body">
                    {{ entry.body|safe }}
                </div>
            </div>
{% endblock %}