{% extends "base.html" %}

{% block title %}blog{% endblock %}

{% block content %}
    {% if entries %}
    {% for entry in entries %}
        {% if not entry.hide %}
            <div class="entry">
                <h2><a href="/blog/{{ entry.published|date:"Y/m/d" }}/{{entry.slug}}">{{ entry.title }}</a></h2>
                <div class="date">{{ entry.published|date:"b d Y" }}</div>
                <div class="body">
                    {{ entry.body|safe }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}