{% extends "base.html" %}

{% block title %}blog{% endblock %}

{% block content %}
            <div class="archives">
                <h3>archives</h3>
                <ul>
                {% for archive in archives %}
                    <li><a href="/blog/{{ archive|date:"Y" }}/{{ archive|date:"m" }}/">{{ archive|date:"b" }} {{ archive|date:"Y" }}</a></li>
                {% endfor %}
                </ul>

                <span class="feed">
                    <a href="http://feeds.feedburner.com/xtine">RSS Feed</a>
                </span>

            </div>

    {% if entries %}
    {% for entry in entries %}
            <div class="entry">
                <h2><a href="/blog/{{ entry.published|date:"Y/m/d" }}/{{entry.slug}}">{{ entry.title }}</a></h2>
                <div class="date">{{ entry.published|date:"b d Y" }}</div>
                <div class="body">
                    {{ entry.body|safe }}
                </div>
            </div>
    {% endfor %}
    {% endif %}
{% endblock %}