{% extends "base.html" %}

{% block content %}
            <h2>About xtine</h2>
            <p>Or otherwise known as <em>Christine Cheung</em>.</p>
            <p>I'm usually known for developing websites, playing trombone, riding a Vespa GTS, going to concerts, listening to ska music, travelling, and getting into interesting situations. I graduated with a degree in Computer Science from the University of California, Riverside. I've been involved with a variety of working environments (start-ups, universities, interactive agencies), but currently I am now enjoying the freelancer lifestyle.</p>

{% endblock content %}
