<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>xtine.net - {% block title %}by christine cheung{% endblock title %}</title>

    <meta name="description" content="xtine.net - christine cheung">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/static/js/libs/modernizr-2.6.2.min.js"></script>
</head>

<body>

    <div id="container">

        <header>

            <h1{% if url == "index" %} class="active"{% endif %}><a href="/">xtine.net</a></h1>
{#
            <nav>
                <ul>
                    <li{% if url == "projects" %} class="active"{% endif %}><a href="/projects">projects</a></li>
                </ul>
            </nav>
 #}
        </header>

        <div id="main" role="main">

            {% block content %}{% endblock content %}

        </div>

        <footer>

            Copyright © 2008–2013 <strong>Christine Cheung</strong>

        </footer>

    </div>

</body>
</html>
