{% extends "base.html" %}

{% block content %}

            <div class="post">

                <h2>by christine cheung</h2>
                <p><em>Born, raised, and still kickin' it in Los Angeles, CA.</em></p>
                <p>I'm known for developing websites, playing trombone, riding a Vespa GTS, going to concerts, listening to ska music, travelling, and getting into interesting situations. I graduated with a degree in Computer Science from the University of California, Riverside. I've been involved with a variety of environments (start-ups, universities, non-profits, interactive agencies), but currently I am now enjoying the consulting/freelancing lifestyle.</p>

            </div>

            <div class="post">
                <h2>this site / currently in progress</h2>
                <p>I'm re-building this site from scratch; those with a certain level of technical prowess can follow along on <a href="https://github.com/xtine/xtine.net/tree/redesign">github</a>. :)</p>
            </div>

{% endblock content %}
