{% extends "base.html" %}

{% block content %}

  <section class="post">

    <h2>this is christine.</h2>

    <p>Born and raised in LA; based in Santa Monica while not out traveling the world.</p>

    <p><strong>work:</strong> I could accurately say that I've turned a lifelong hobby into a sustaining career. I've always tinkered with computers and poked at software for funsies as long as I could remember. I've done a variety of work, from award winning agencies to failing startups. You can read more about my work experience <a href="/portfolio">here</a>.</p>

    <p><strong>play:</strong> I've played trombone in various ska and reggae bands, driven cross country solo, rode my Vespa from Los Angeles to  Mexico and Canada in subsequent years, backpacked through bits of Europe, Japan, and New Zealand, spent four months learning how to snowboard on the steeps of Jackson Hole, Wyoming.</p>

    <p><strong>future:</strong> always active and engaged.</p>

  </section>


{% endblock content %}
