{% extends "base.html" %}

{% block content %}

            <div class="post">

                <h2>by christine cheung</h2>
                <p><em>Born, raised, and still kickin' it in Los Angeles, CA.</em></p>
                <p>I'm most known for developing and designing websites, playing trombone, travelling, and riding a Vespa around town. I graduated with a degree in Computer Science from the University of California, Riverside. Sometimes I play in bands, critique food and drink, and shoot photos for funsies.</p>

            </div>

            <div class="post">
                <h2>this site / currently in progress</h2>
                <p>I'm re-building this site from scratch; those with a certain level of technical prowess can follow along on <a href="https://github.com/xtine/xtine.net/tree/redesign">github</a>.</p>
            </div>

{% endblock content %}
